input:focus {
    outline: none;
    border: bisque 2px solid;
}
.superInput {
color: #3c7f4b ;
    outline: none;
    border-bottom: 3px solid #80103d;
}

.errorInput {
    border: 2px solid red;
    background: dimgrey;
}

.error {
    color: red;
    height: 20px;
    margin-bottom: 10px;

}