.label {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.checkbox {
    appearance: none;
    height: 20px;
    width: 20px;
background: #003780;
    margin-right: 10px;
}

.checkbox:checked {
    background: #3c7f4b;
}
.spanClassName {

}