.greeting {
display: flex;
    align-items: flex-start;
}

.error {
    border: 2px solid red;
    margin: 10px;
    background-color: darkgray;
}
.errorMessage {
    color: red;
    height: 20px;
    margin-left: 10px;
   font-weight: bold;

}
.button {
    background-color: darkseagreen;
    margin: 10px;
}
.button:focus {
    outline: purple solid 1px;
}
.button:active {
    background: sandybrown;
}
.button:disabled {
    color: darkgrey;
}

.input {
    background-color: darkgrey;
    margin: 10px;
}
.input:focus {
    outline: purple solid 1px;
    border: darkgreen solid 2px;
}
.count {
margin: 10px;
}